@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Start of slider Style */
:root {
  --main-color: rgb(9, 97, 146);
  --main-color-hover: rgb(51, 102, 153, 0.2);
  --track-color: rgba(9, 97, 146, 0.7);
}

.customSlider {
  max-width: 80vw;
  margin: auto;
}

.customSlider-track {
  top: 15px;
  height: 12px;
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  background: var(--main-color);
}

.customSlider-thumb {
  cursor: pointer;
  background: var(--main-color);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  outline: none;
  color: rgb(255, 255, 255);
  display: table;
  line-height: 45px;
  text-align: center;
}

.customSlider-thumb:hover {
  box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-mark {
  cursor: pointer;
  top: 9px;
  width: 4.5px;
  height: 24px;
}
/* End of sliderStyle */